<section class="press_wrap animated fadeInUp">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12">
        <h2 class="press_title">Press</h2>

        <ul class="press_logo_list">
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo1.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo2.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo3.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo4.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo5.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo6.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo7.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/press-logo8.png"
                alt="press-logo"
                class="img-fluid"
            /></a>
          </li>
        </ul>
      </div>
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .press_wrap -->
