<section class="groomBride_wrap">
  <article class="container">
    <figure class="row">
      <figure class="col-sm-12 groomBride_cont">
        <ul class="groom_listMenu">
          <li class="title">
            <h3>Groom</h3>
          </li>
          <li><a href="#">T-shirt</a></li>
          <li><a href="#">Panjabi</a></li>
          <li><a href="#">Blazer</a></li>
          <li><a href="#">Dupatta</a></li>
          <li><a href="#">Banani</a></li>
        </ul>

        <ul class="bride_listMenu">
          <li class="title">
            <h3>Bride</h3>
          </li>
          <li><a href="#">Nacklace</a></li>
          <li><a href="#">Benarasi</a></li>
          <li><a href="#">Saree</a></li>
          <li><a href="#">lockets</a></li>
          <li><a href="#">Makeup</a></li>
        </ul>
      </figure>
      <!-- End .groomBride_cont -->
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .groomBride_wrap -->
