<section class="newCollections_wrap animated fadeInUp">
  <article class="container-fluid">
    <h2 class="container bodyCont_title">
      Everyone’s talking about <span>New collections</span>
    </h2>

    <figure class="row">
      <div class="col-sm-12">
        <div class="newPrd_wrap">
          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/new-collection-img1.jpg" alt="img" />
            </div>
            <h5>Popular Products</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/new-collection-img2.jpg" alt="img" />
            </div>
            <h5>Featured Products</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/new-collection-img3.jpg" alt="img" />
            </div>
            <h5>Tranding Products</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/new-collection-img4.jpg" alt="img" />
            </div>
            <h5>Wedding Tips</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/new-collection-img5.jpg" alt="img" />
            </div>
            <h5>Today’s Deal</h5>
          </a>
        </div>
        <!-- End .newPrd_wrap -->
      </div>
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .newCollections_wrap -->
