<section class="featuredProducts_wrap animated fadeInUp">
  <article class="container-fluid">
    <h2 class="container bodyCont_title">
      Get the best one now <span>Best form the box</span>
    </h2>

    <figure class="row">
      <div class="col-sm-12">
        <div class="featuredPrd_all">
          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img11.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568 <span class="off">(10% Off)</span></p>
              <p class="priceNew">$3000</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img12.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568 <span class="off">(10% Off)</span></p>
              <p class="priceNew">$3000</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img13.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">New sa gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img14.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568 <span class="off">(10% Off)</span></p>
              <p class="priceNew">$3000</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img15.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img16.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items">
            <div class="productImg">
              <img
                src="assets/images/product-img11.png"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->
        </div>
        <!-- End .featuredPrd_all -->
      </div>
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container-fluid -->
</section>
<!-- End .featuredProducts_wrap -->
