<section class="hero_slider">
  <article class="container-fluid">
    <figure class="row">
      <figure class="col-sm-12 hero_slider_item">
        <div class="item">
          <img
            src="assets/images/banner-slider-img.jpg"
            alt="img"
            class="images"
          />
        </div>

        <div class="item">
          <img
            src="assets/images/banner-slider-img.jpg"
            alt="img"
            class="images"
          />
        </div>
      </figure>
      <!-- End .col -->
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .hero_slider -->
