<section class="categories_filter_wrap">
  <article class="container">
    <figure class="row">
      <figure class="col-sm-12 ctgFilter_content">
        <div class="filterCateg_row">
          <div class="items dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle"
              id="categoriesMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="categoriesMenu">
              <a class="dropdown-item" href="#">Categories Menu 1</a>
              <a class="dropdown-item" href="#">Categories Menu 2</a>
              <a class="dropdown-item" href="#">Categories Menu 3</a>
              <a class="dropdown-item" href="#">Categories Menu 4</a>
            </div>
          </div>

          <div class="items dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle"
              id="productsMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="productsMenu">
              <a class="dropdown-item" href="#">Products Menu 1</a>
              <a class="dropdown-item" href="#">Products Menu 2</a>
              <a class="dropdown-item" href="#">Products Menu 3</a>
            </div>
          </div>

          <div class="items dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle"
              id="occasionMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Occasion
            </a>
            <div class="dropdown-menu" aria-labelledby="occasionMenu">
              <a class="dropdown-item" href="#">Occasion Menu 1</a>
              <a class="dropdown-item" href="#">Occasion Menu 2</a>
              <a class="dropdown-item" href="#">Occasion Menu 3</a>
              <a class="dropdown-item" href="#">Occasion Menu 4</a>
            </div>
          </div>

          <div class="items dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle"
              id="genderMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Gender
            </a>
            <div class="dropdown-menu" aria-labelledby="genderMenu">
              <a class="dropdown-item" href="#">Gender Menu 1</a>
              <a class="dropdown-item" href="#">Gender Menu 2</a>
              <a class="dropdown-item" href="#">Gender Menu 3</a>
              <a class="dropdown-item" href="#">Gender Menu 4</a>
            </div>
          </div>

          <div class="items dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle"
              id="shopNameMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Shop Name
            </a>
            <div class="dropdown-menu" aria-labelledby="shopNameMenu">
              <a class="dropdown-item" href="#">Shop Name Menu 1</a>
              <a class="dropdown-item" href="#">Shop Name Menu 2</a>
              <a class="dropdown-item" href="#">Shop Name Menu 3</a>
              <a class="dropdown-item" href="#">Shop Name Menu 4</a>
            </div>
          </div>
        </div>
        <!-- End .filterCateg_row -->

        <div class="searchPrice_row row">
          <div class="col-sm-4 priceRange">
            <div class="price-range-slider">
              <div id="slider-range" class="range-bar"></div>
              <p class="range-value">
                <input type="text" id="amount" readonly />
              </p>
            </div>
          </div>
          <div class="col-sm-8 searchBar">
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="What are you looking for?"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'What are you looking for?'"
                />
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End .searchPrice_row -->
      </figure>
      <!-- End .col -->
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .categories_filter_wrap -->
