<footer class="block">
  <section class="footerMenu_wrap">
    <article class="container">
      <figure class="row">
        <div class="col-sm-3 col-xs-12">
          <h2 class="title">Follow Us</h2>

          <p class="socialIcon">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-pinterest-square"></i></a>
          </p>

          <div class="letDream">Let your dream come true</div>
        </div>

        <div class="col-sm-3 col-xs-12">
          <h2 class="title">Help & Contact</h2>

          <ul class="menuList">
            <li>South Breeze Center, 9th Floor</li>
            <li>Building No: 5, Road: 11, Block G, Banani, 1213</li>
            <li>Phone: +88 02 55042602, +88 02 55042603</li>
            <li>Website: biyebazaar.com</li>
            <li>Email: info@biyebazaar.com</li>
          </ul>
        </div>

        <div class="col-sm-3 col-xs-12">
          <h2 class="title">Biye Bazaar</h2>

          <ul class="menuList">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Features Product</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Documentation</a></li>
          </ul>
        </div>

        <div class="col-sm-3 col-xs-12">
          <img
            src="assets/images/biyaBazaar-fb.jpg"
            alt="img"
            class="img-fluid"
          />
        </div>
      </figure>
      <!-- End row -->
    </article>
    <!-- End .container -->
  </section>
  <!-- End .footerMenu_wrap -->

  <section class="footerCopyright_wrap">
    <article class="container">
      <figure class="row">
        <div class="col-sm-12">
          <p class="copyright_text text-center">
            Copyright © 2019 biyebazaar.com. All Rights Reserved
          </p>
        </div>
      </figure>
      <!-- End row -->
    </article>
    <!-- End .container -->
  </section>
  <!-- End .footerCopyright_wrap -->
</footer>
