<section class="subscribeNewsletter_wrap animated fadeInUp">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12">
        <h2 class="subscribe_title text-center">Subscribe our newsletter</h2>
        <form class="subscribe_form">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Email Address'"
            />
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div>
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .subscribeNewsletter_wrap -->
