<app-header></app-header>

<main>
  <app-slider></app-slider>

  <app-categories></app-categories>

  <app-new-collentions></app-new-collentions>

  <app-groom-bride></app-groom-bride>

  <app-featured-products></app-featured-products>

  <app-events></app-events>

  <app-wedding-websites></app-wedding-websites>
  <app-best-products></app-best-products>

  <app-discount-products></app-discount-products>

  <app-accessories></app-accessories>

  <app-exclusive-collection></app-exclusive-collection>

  <app-stories></app-stories>

  <app-press></app-press>

  <app-newsletter></app-newsletter>
</main>
<app-footer></app-footer>
