<header class="biyaBazaar_header">
  <section class="header_topBar">
    <article class="container">
      <figure class="row">
        <div class="col-sm-4 helpContact_left">
          <ul class="topBar_list_style">
            <li>
              <a href="#">help and contact</a>
            </li>
            <li class="offers">
              <img src="assets/images/offers-icon.jpg" alt="icon" />
              <a href="#">offers</a>
            </li>
          </ul>
        </div>
        <!-- End .col -->

        <div class="col-sm-4 allAbout_center">
          <ul class="topBar_list_style text-center">
            <li class="allAbout">
              <a href="#">All about biye bazaar</a>
            </li>
          </ul>
        </div>
        <!-- End .col -->

        <div class="col-sm-4 loginRight">
          <ul class="topBar_list_style text-right">
            <li>
              <a href="#">Best seller</a>
            </li>
            <li>
              <a href="#">Todays Deal</a>
            </li>
            <li class="login">
              <img src="assets/images/login-icon.png" alt="icon" />
              <a href="#">Login</a>
            </li>
          </ul>
        </div>
        <!-- End .col -->
      </figure>
    </article>
    <!-- End .container -->
  </section>
  <!-- End .header_topBar -->

  <section class="header_topMenu">
    <article class="container">
      <figure class="row">
        <div class="col-sm-12">
          <div class="brand_logo">
            <a class="navbar-brand" href="#"
              ><img src="assets/images/logo.png"
            /></a>
          </div>

          <div class="navbar-expand-lg mobile_navIcon">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavExp"
              aria-controls="navbarNavExp"
              aria-expanded="true"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </figure>

      <figure class="row">
        <div class="col-sm-2 categories_left">
          <ul class="categories_dropdown">
            <li class="dropdown">
              <a
                href="JavaScript:Void(0);"
                class="ctgMenu_icon dropdown-toggle"
                aria-haspopup="true"
                data-toggle="dropdown"
                ><img src="assets/images/categories-menu-icon.png" />
                Categories</a
              >

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li class="sub_dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    data-toggle="dropdown"
                    >Action</a
                  >
                  <div class="subDropdown_wrap" aria-labelledby="dropdownMenu">
                    <ul class="subMenu_list">
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Sub Menu</a></li>
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                    </ul>
                    <ul class="subMenu_list">
                      <li><a href="#">Sub Menu</a></li>
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                    </ul>
                  </div>
                </li>

                <li><a href="#">Another action</a></li>

                <li class="sub_dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    aria-haspopup="true"
                    data-toggle="dropdown"
                    >Separated</a
                  >
                  <div class="subDropdown_wrap" aria-labelledby="dropdownMenu">
                    <ul class="subMenu_list">
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Sub Menu</a></li>
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                    </ul>
                    <ul class="subMenu_list">
                      <li><a href="#">Sub Menu</a></li>
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                      <li><a href="#">Another Sub Menu</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Separated</a></li>
                <li><a href="#">Another Menu</a></li>
                <li><a href="#">Separated</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Separated</a></li>
              </ul>
            </li>
          </ul>
          <!-- End .categories_dropdown -->
        </div>
        <!-- End .categories_left -->

        <div class="col-sm-8 mainMenu_center">
          <nav class="navbar navbar-expand-lg">
            <div
              class="collapse navbar-collapse justify-content-center"
              id="navbarNavExp"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Bride</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Groom</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Feature products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">new Arrivals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Trends</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- End .mainMenu_center -->

        <div class="col-sm-2 searchCart_right text-right">
          <a href="#"><img src="assets/images/search-iocn.png" alt="icon" /></a>
          <a href="#"
            ><img src="assets/images/wishlist-icon.png" alt="icon"
          /></a>
          <a href="#"><img src="assets/images/cart-icon.png" alt="icon" /></a>
        </div>
        <!-- End .searchCart_right -->
      </figure>
    </article>
    <!-- End .container -->
  </section>
  <!-- End .header_topMenu -->
</header>
<!-- End .biyaBazaar_header -->
