<section class="newCollections_wrap eventOccasion animated fadeInUp">
  <article class="container-fluid">
    <h2 class="container bodyCont_title">
      Explore by <span>Event and Occasion</span>
    </h2>

    <figure class="row">
      <div class="col-sm-12">
        <div class="newPrd_wrap">
          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/event-occasion-img1.jpg" alt="img" />
            </div>
            <h5>Engagement</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/event-occasion-img2.jpg" alt="img" />
            </div>
            <h5>Mehedi Sondha</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/event-occasion-img3.jpg" alt="img" />
            </div>
            <h5>Gaye Holud</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/event-occasion-img4.jpg" alt="img" />
            </div>
            <h5>Wedding</h5>
          </a>

          <a href="#" class="newPrd_items">
            <div class="imgWrap">
              <img src="assets/images/event-occasion-img5.jpg" alt="img" />
            </div>
            <h5>Reception</h5>
          </a>
        </div>
        <!-- End .newPrd_wrap -->
      </div>
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .newCollections_wrap.eventOccasion -->
