<section class="exclusiveCollection_wrap animated fadeInUp">
  <article class="container">
    <figure class="row">
      <div class="col-sm-6 col-xs-12 excl_textLeft">
        <h2 class="exclusive_title">Exclusive collection</h2>
        <p class="exclusive_text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text of
          the printing and typesetting industry.
        </p>
        <a href="#" class="buyNow">Buy Now</a>

        <div class="exclusivePrd_row row">
          <div class="featuredPrd_items col-sm-6 col-xs-12">
            <div class="productImg">
              <img
                src="assets/images/exclusive-prd-img1.jpg"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">New sa gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->

          <div class="featuredPrd_items col-sm-6 col-xs-12">
            <div class="productImg">
              <img
                src="assets/images/exclusive-prd-img2.jpg"
                alt="img"
                class="img-fluid"
              />
            </div>
            <div class="productText">
              <a href="#" class="wishIcon"><i class="fa fa-heart"></i></a>
              <a href="#" class="title">Dream Gallary</a>
              <p class="text">Weeding Mans Shoe</p>
              <p class="priceReg">$2568 <span class="off">(10% Off)</span></p>
              <p class="priceNew">$3000</p>
            </div>
          </div>
          <!-- End .featuredPrd_items -->
        </div>
        <!-- End .exclusivePrd_row -->
      </div>
      <!-- End .excl_textLeft -->

      <div class="col-sm-6 col-xs-12 excl_imgRight">
        <img
          class="img-fluid"
          src="assets/images/exclusive-img.jpg"
          alt="img"
        />
      </div>
      <!-- End .excl_imgRight -->
    </figure>
    <!-- End row -->
  </article>
  <!-- End .container -->
</section>
<!-- End .exclusiveCollection_wrap -->
